<template>
  <div>
    <h1 class="title">{{ msg }}</h1>
    <p>
      <button type="button" v-on:click="goToCreate">Cadastrar Cliente</button>
    </p>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Sexo</th>
          <th>Data de Nascimento</th>
          <th>E-mail</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="client in clients" :key="client.id">
          <td> {{ client.name }} </td>
          <td> {{ client.birthday }} </td>
          <td> {{ client.gender }} </td>
          <td> {{ client.email }} </td>
          <td> <button type="button" v-on:click="removeClient(client.id)">Remover</button> </td>
          <td> <button type="button" v-on:click="goToEdit(client.id)">Editar</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import clientService from '../services/client.service';

export default {
  name: 'ClientList',
  data () {
    return {
      msg: 'Lista de Clientes',
      clients: [],
    }
  },
  mounted () {
    this.getClients();  
  },
  methods: {
    removeClient: function(clientID) {
      clientService.delete(clientID)
      .then((result) => {
        console.log(result);
        this.getClients();
      });
    },
    getClients: function() {
        clientService.getAll()
      .then((result) => {
        this.clients = result.data;
        console.log(this.clients);
      });
    },
    goToCreate: function() {
      this.$router.push('/create-client');
    },
    goToEdit: function(clientId) {
      console.log(clientId);
      this.$router.push({ path: `/create-client/${clientId}` })
    }
  }
}

</script>

<style scoped>
.title {
  color: green;
}
</style>
