<template>
  <div>
    <h1 class="title">{{ isEdit ? 'Editar' : 'Novo' }} Cliente</h1>
    <div class="form">
      <label for="name">Nome: {{ client.name }}</label><br>
      <input type="text" id="nome" name="nome" v-model="client.name"><br>

      <label for="lname">Email: {{ client.email }}</label><br>
      <input type="text" id="email" name="email" v-model="client.email"><br>

      <label for="lname">Data Nascimento: {{ client.birthday }}</label><br>
      <input type="text" id="birthday" name="birthday" v-model="client.birthday"><br>

      <label for="fname">Sexo: {{client.gender}}</label><br>
      <select id="gender" name="gender" v-model="client.gender">
        <option value="male">Masculino</option>
        <option value="female">Feminino</option>
      </select>
      <div class="action">
        <button type="button" v-if="isEdit" v-on:click="onUpdateClient">atualizar</button>
        <button type="button" v-else v-on:click="onCreateClient">cadastrar</button>
        <button type="button" v-on:click="cancel">cancelar</button>
      </div>
    </div>
  </div>
</template>

<script>
import clientService from '../services/client.service';

export default {
  name: 'ClientCreate',
  data () {
    return {
      client: {
        name: '',
        email: '',
        birthday: '',
        gender: '',
      },
      isEdit: false,
    }
  },
  created() {
    if (this.$route.params.id) {
      this.isEdit = true;
      this.getClientToUpdate();
    }
  },
   methods: {
    cancel: function() {
      history.back();
    },
    onCreateClient: function() {
      clientService.create(this.client)
      .then((result) => {
        this.$router.push('/client-list');
      });
    },
    onUpdateClient: function() {
      clientService.update(this.client.id, this.client)
      .then((result) => {
        this.$router.push('/client-list');
      });
    },
    getClientToUpdate: function() {
      clientService.getById(this.$route.params.id)
      .then((result) => {
        const { data } = result;
        this.client = data;
      });
    },
  },
}

</script>

<style scoped>
.title {
  color: green;
}

.form {
  text-align: left;
  padding: 20px;
}

.form input, select {
  padding: 10px;
  width: 30%;
  margin-bottom: 15px;
}

.form label {
  text-transform: uppercase;
  color: #999;
}

.action {
  width: 30%;
  display: flex;
  justify-content: space-around;
}

.action button {
  padding: 10px;
  background: transparent;
  border: 1px solid #999;
  text-transform: uppercase;
  width: 100%;
  margin-right: 5px;
  cursor: pointer;
}
</style>
